{
    "server": {
        "port": 8080,
        "secret_key_path": "settings/secret/jwt.rsa",
        "verify_key_path": "settings/secret/jwt.rsa.pub",
        "token_expiration": 1
    },
    "apiVersion": "v1"
}
